/*--------------------------------------------
Lay Out design 
----------------------------------------------*/

/*Header Page*/
.m
{
    text-align: center;
}

.hei1
{
    height: 450px;
}

.p-1
{
    padding-left: -5px;
}

/*Nav Bar Area*/

.html
{
    
    width: 100%;
    animation: html 2s;
}

@keyframes html
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 100%;
    }
}