/*--------------------------------------------
Lay Out design 
----------------------------------------------*/

/*Header Page*/
.m
{
    text-align: center;
}

.img::after
{
    background-image: url("images/KIDS/Recharge bike -1.jpg");
}

/* xs */
.img {
    width: 100px;
    height: auto;
}
/* sm */
@media (min-width: 768px) {
    .img {
        width: 150px;
    }
}
/* md */
@media (min-width: 992px) {
    .img {
        width: 200px;
    }
}
/* lg */
@media (min-width: 1200px) {
    .img {
        width: 250px;
    }
}

/*Apply styles after scroll*/
.scrolling-active{
    background-color: #007bff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 6.6rem;
}

.scrolling-active .nav a{
    color: white;
}

.scrolling-active #nav-ct{
   
    background-color: #007bff;
}


.scrolling-active #nav-cta{
   
    color: #fff;
}

.scrolling-active #nav-cta:hover{
   
    background-color: grey;
}

/*Apply styles after scroll end*/

.hei1
{
    height: 450px;
}

.p-1
{
    padding-left: -5px;
}

/*Nav Bar Area*/

.html
{
    
    width: 100%;
    animation: html 2s;
}

@keyframes html
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 100%;
    }
}